{% extends 'base.html' %}
{% block page %}
        <hr>
        <h1 class="page-title">Продукция</h1><br/>
        <div class="title">Вода Corona Ice негазированная для г.Бишкек, + 10 сом для регионов</div>
        <img src="http://www.corona.kg/upload/catalog/products/1.png" alt="" assign="img" getsize="imageSize"
        class="mCS_img_loaded" width="168" height="313"><br/>
        <div class="price"><span>135-155</span> сом</div>
        <button>Заказать</button><br/><br/>
        <div class="title">Вода Corona Ice негазированная</div>
        <img src="http://www.corona.kg/upload/catalog/products/2.png" alt="" assign="img" getsize="imageSize"
        class="mCS_img_loaded" width="168" height="313"><br/>
        <div class="price"><span>82</span> сом</div>
        <button>Заказать</button><br/><br/>
        <div class="title">Вода "Corona Ice"  6л (New)</div>
        <img src="http://www.corona.kg/upload/catalog/products/9.png" alt="" assign="img" getsize="imageSize"
        class="mCS_img_loaded" width="168" height="313"><br/>
        <div class="price"><span>52</span> сом</div>
        <button>Заказать</button><br/><br/>
        <div class="title">Вода Corona Ice газир. 0,5л х15</div>
        <img src="http://www.corona.kg/upload/catalog/products/3.png" alt="" assign="img" getsize="imageSize"
        class="mCS_img_loaded" width="66" height="228"><br/>
        <div class="price"><span>17</span> сом</div>
        <button>Заказать</button><br/><br/>
        <div class="title">Вода Corona Ice негазир. 1,0л х8</div>
        <img src="http://www.corona.kg/upload/catalog/products/4.png" alt="" assign="img" getsize="imageSize"
        class="mCS_img_loaded" width="66" height="228"><br/>
        <div class="price"><span>21</span> сом</div>
        <button>Заказать</button><br/><br/>
        <hr>
{% endblock %}