{% extends 'base.html' %}
{% block page %}
    <div>
        <br/>
        <br/>
        <h1>О компании</h1><br/>
        ОсОО Top Notch Distribution является производителем природной питьевой воды Corona ice. Компания была <br/>
        создана в 2009 году, и продолжает активно развиваться, внедряет современные технологии в производство, и <br/>
        расширяет с каждым днем ассортимент товаров. Установите мобильное приложение для заказа всего ассортимента <br/>
        товаров 24/7 без звонка!!! Доставка в течении следующего рабочего дня! Цены оптового склада. Оператор <br/>
        приложения 0 999 006464. Жми сюда!<br/>
    </div>
    <hr>
{% endblock %}