{% extends 'base.html' %}
{% block page %}

        <hr>
        <h1>Продукция</h1><br/>
        <div>Вода Corona Ice негазированная для г.Бишкек, + 10 сом для регионов</div>
        <img src="http://www.corona.kg/upload/catalog/products/1.png" alt="">
        <div>135-155 сом</div>
        <button>Заказать</button><br/><br/>
        <div>Вода Corona Ice негазированная</div>
        <img src="http://www.corona.kg/upload/catalog/products/2.png" alt="">
        <div>82 сом</div>
        <button>Заказать</button><br/><br/>
        <div>Вода "Corona Ice"  6л (New)</div>
        <img width="50" src="http://www.corona.kg/upload/catalog/products/9.png" alt="">
        <div>52 сом</div>
        <button>Заказать</button><br/><br/>
        <div>Вода Corona Ice газированная 0,5л х15</div>
        <img src="http://www.corona.kg/upload/catalog/products/3.png" alt="">
        <div >17 сом</div>
        <button>Заказать</button><br/><br/>
        <div>Вода Corona Ice негазированная 1,0л х8</div>
        <img src="http://www.corona.kg/upload/catalog/products/4.png" alt="">
        <div>21 сом</div>
        <button>Заказать</button><br/><br/>
        <hr>
{% endblock %}
